spring:
  profiles:
    active: dev
  application:
    name: auth-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      name: auth-service, actuator-config, redis-config, database-config, eureka-config, kafka-config, security-config
