spring:
  application:
    name: reservation-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      name: security-config
      fail-fast: false
      retry:
        max-attempts: 6
        initial-interval: 1000
        multiplier: 1.1
        max-interval: 2000

